{{ $isDark := false }}
{{ if eq .Dark "true" }}
    {{ $isDark = true }}
{{ end }}
{{ $isReverse := false }}
{{ if eq .Reverse "true" }}
    {{ $isReverse = true }}
{{ end }}
<section id="{{ .Id }}" class="cta-1 py-7 bg-{{ .BgColor }} {{ .Classes }}">
  <div class="container">
    <div class="row g-5 align-items-center {{ if $isReverse }} flex-row-reverse{{ end }}">
      <div class="col-12 col-lg-6 text-center">
          {{ $image := resources.Get .Image }}
          {{ $size := printf "%dx%d" $image.Width $image.Height }}
          {{ $image := $image.Resize (printf "%s webp q80" $size) }}
          {{ partial "image" (dict "Src" ($image | relURL) "alt" .Title "Size" $size "Command" "Fit" "Class" "cta-1-image") }}
      </div>
      <div class="col-12 col-lg-6">
        <h2 class="mb-4 {{ if $isDark }}text-white{{ end }}">
          <span class="{{ if $isDark }}text-light{{ else }}text-dark{{ end }}">{{ .Title | safeHTML }}</span>
        </h2>
        <p class="{{ if $isDark }}text-light{{ else }}text-muted{{ end }}">{{ .Content | markdownify }}</p>
          {{ with .Button }}
            <a href="{{ .Link }}" title="{{ .Label }}"
               class="btn btn-{{ .Color }} btn-{{ .Size }} mt-4">{{ .Label }}</a>
          {{ end }}
          {{ with .Inner }}
              {{ . }}
          {{ end }}
      </div>
    </div>
  </div>
</section>
