<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        {{ $id := .Id }}
      <div class="accordion accordion-flush" id="{{ $id }}Accordion">
          {{ range $index, $item := .Items }}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-medium" type="button" data-bs-toggle="collapse"
                        data-bs-target="#control-{{ $index }}" aria-expanded="false"
                        aria-controls="control-{{ $index }}">
                    {{ $item.question }}
                </button>
              </h2>
              <div id="control-{{ $index }}" class="accordion-collapse collapse"
                   data-bs-parent="#{{ $id }}Accordion">
                  {{ .Id }}
                <div class="accordion-body">
                    {{ $item.answer | markdownify }}
                </div>
              </div>
            </div>
          {{ end }}
      </div>
    </div>
  </div>

</div>