<footer class="pt-5 pb-0">
  <div class="container mb-5">
    <div class="row g-5 h-100">
      <div class="col-12 col-md-5 col-lg-4">
        <div class="p-4 d-flex flex-column align-items-center justify-content-center gap-4 h-100">
          <div class="logo">
              {{ partial "logo.html" }}
          </div>
          <div class="d-flex gap-2">
              {{ range site.Params.Social }}
                <a class="social-link bg-light d-flex align-items-center justify-content-center fs-5 text-decoration-none rounded"
                   href="{{ .link }}" title="{{ .title }}" target="_blank">
                  <i class="{{ .icon }}"></i>
                </a>
              {{ end }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-8">
        <div class="row justify-content-md-end gap-4">
            {{ range site.Menus.footer }}
              <div class="col-12 col-lg footer-item">
                <h2 class="fs-5 mb-3 mb-lg-4">{{ .Name }}</h2>
                  {{ if .HasChildren }}
                    <nav>
                      <ul {{ with .Params.columns }}style="columns: {{ . }};"{{ end }}>
                          {{ range .Children }}
                            <li class="mb-3">
                                {{ $isExteral := .URL | strings.Contains "http" }}
                                {{ $url := .URL | default "/" }}
                                {{ if $isExteral }}
                                    {{ $url = .URL }}
                                {{ else }}
                                    {{ $url = .URL | relLangURL }}
                                {{ end }}
                              <a class="link-muted" href="{{ $url }}"
                                 target="{{ if $isExteral }}_blank{{ else }}_self{{ end }}">
                                  {{ .Name }}
                              </a>
                            </li>
                          {{ end }}
                      </ul>
                    </nav>
                  {{ end }}
              </div>
            {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="container d-flex flex-column flex-md-row gap-3 align-items-center justify-content-between py-3">
      <p class="m-0 text-muted text-center text-md-start">
        <script>document.write(new Date().getFullYear());</script>
          {{ site.Params.Footer.Copyright }}
      </p>
      <div class="d-flex align-items-center gap-3">
          {{ $menuItems := site.Menus.footer_links }}
          {{ if $menuItems }}
              {{ $lastIndex := sub (len $menuItems) 1 }}
              {{ range $index, $item := $menuItems }}
                  {{ $isExternal := $item.URL | strings.Contains "http" }}
                  {{ $url := $item.URL | default "/" }}
                  {{ if $isExternal }}
                      {{ $url = $item.URL }}
                  {{ else }}
                      {{ $url = $item.URL | relLangURL }}
                  {{ end }}
                <a class="link-muted" href="{{ $url }}" target="{{ if $isExternal }}_blank{{ else }}_self{{ end }}">
                    {{ $item.Name }}
                </a>
                  {{ if lt $index $lastIndex }}
                    <span class="text-muted">|</span>
                  {{ end }}
              {{ end }}
          {{ end }}
      </div>
    </div>
  </div>
</footer>
