<header>
  <nav class="navbar navbar-expand-lg shadow-sm bg-white">
    <div class="container">
      <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
          {{ partial "logo.html" }}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{- $menuPosition := site.Params.style.header_menu -}}
        <ul class="navbar-nav py-4 py-lg-0 gap-lg-4{{ if eq $menuPosition "end" }} ms-auto{{ else if eq $menuPosition "start" }} me-auto{{ else }} mx-auto{{ end }}">
            {{- range site.Menus.main -}}
                {{- if .HasChildren -}}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" aria-expanded="false">
                        {{- .Name -}}
                    </a>
                    <ul class="dropdown-menu shadow-sm">
                        {{- range .Children -}}
                          <li><a class="dropdown-item" href="{{- .ConfiguredURL | relLangURL -}}">{{- .Name -}}</a></li>
                        {{- end -}}
                    </ul>
                  </li>
                {{- else -}}
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{- .ConfiguredURL | relLangURL -}}">{{- .Name -}}</a>
                  </li>
                {{- end -}}
            {{- end -}}
        </ul>
        <div class="right-slot d-inline-flex flex-column gap-2 align-items-lg-center flex-lg-row{{ if eq $menuPosition "end" }} ms-lg-4{{ end }}">
            {{- if templates.Exists ("partials/components/header/right.html") -}}
                {{- partial "partials/components/header/right.html" . -}}
            {{ end }}
            {{- partial "partials/components/language-selector.html" -}}
        </div>
      </div>
    </div>
  </nav>
</header>