{{- $siteLanguages := site.Languages -}}
{{- if gt (len $siteLanguages) 1 -}}
  <select class="language-selector border-0 px-2 py-1" onchange="location = this.value;">
      {{ $pageLang := page.Lang }}
      {{ range page.AllTranslations }}
          {{ $translation := . }}
          {{ range $siteLanguages }}
              {{ if eq $translation.Lang .Lang }}
                  {{ if eq $pageLang .Lang }}
                    <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" selected>
                        {{ .LanguageName }}
                    </option>
                  {{ else }}
                    <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}">
                        {{ .LanguageName }}
                    </option>
                  {{ end }}
              {{ end }}
          {{ end }}
      {{ end }}
  </select>
{{- end -}}
