<article class="post-summary h-100 border-bottom border-1 pb-4">
    {{ with site.GetPage (string .Params.Author | urlize | lower) }}
      <div class="row g-2 align-items-center mb-3">
          {{ if .Params.image }}
            <div class="col-auto">
              <a href="{{ .RelPermalink }}">
                  {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "rounded-circle" "Command" "Fill" "Size" "24x24") }}
              </a>
            </div>
          {{ end }}
        <div class="col">
          <a href="{{ .RelPermalink }}" class="small text-muted">{{ .Title }}</a>
        </div>
      </div>
    {{ end }}
  <a href="{{ .Permalink }}">
    <div class="row mb-2">
      <div class="col">
        <h2 class="h4">{{ .Title }}</h2>
        <h3 class="fs-6 text-muted fw-normal">{{ .Description | truncate 135 }}</h3>
      </div>
        {{ if .Params.image }}
          <div class="col-12 col-lg-auto d-none d-lg-block">
              {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "summary-image rounded" "Command" "Fill" "Size" "280x280") }}
          </div>
        {{ end }}
    </div>
  </a>
  <p class="small text-muted mb-0">
    <i class="fa-regular fa-clock me-1"></i> {{ .ReadingTime }} {{ i18n `min_read` }}
    <span class="mx-2">·</span>
    <i class="fa-regular fa-calendar me-1"></i> {{ time.Format ":date_long" .PublishDate }}
  </p>
</article>