.cta-1 {
  padding-top: 6rem;
  padding-bottom: 6rem;

  &-image {
    width: 480px;
    height: 480px;
    max-width: 100%;
    object-fit: contain;

    @include media-breakpoint-down(lg) {
      max-height: 320px;
    }
  }
}
