.card-4 {
  .icon-wrapper {
    min-width: 4rem;
    min-height: 4rem;
    width: 4rem;
    height: 4rem;
  }

  .icon {
    font-size: 2rem;
  }

  .image {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
}