:root {
    --color-blue: {{ site.Params.style.primary_color }};
    --color-blue-light: {{ site.Params.style.secondary_color }};
}

html, body {
    margin: 0;
    height: 100vh;
}

body {
    display: none;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    flex: 1;
}

.form-field,
.form-field label,
.form-field input,
.form-field textarea {
    border-radius: 0.375rem;
}

.form-field textarea {
    min-height: 120px;
    max-height: 120px;
}

.privacy {
    display: none;
}

.button {
    border-radius: 0.5rem;
}


