{{ $themeVersion := site.Params.theme.version | default "legacy" }}

{{/* Bootstrap - always load for now until v2 components are complete */}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@^5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{{/* Conditional Cookie Consent */}}
{{ with site.Params.cookies }}
    {{ if .enable }}
        {{ with (resources.Get "js/cookie.js") | resources.Minify }}
          <script src="{{ .RelPermalink }}" defer></script>
        {{ end }}
    {{ end }}
{{ end }}

{{/* Conditional Swiper - only load if enabled AND used on page */}}
{{ if site.Params.swiper.enable }}
    {{ if or (.HasShortcode "logo-carousel") (.HasShortcode "hero-2") (in .Content "swiper") }}
        {{ with (resources.Get "js/swiper.js") | resources.Minify }}
          <script src="{{ .RelPermalink }}" defer></script>
        {{ end }}
    {{ end }}
{{ end }}

{{/* Main JavaScript - version dependent */}}
{{ if eq $themeVersion "v2" }}
    {{/* V2 modular JavaScript */}}
    {{ $js := slice }}
    {{ $js = $js | append (resources.Get "js/v2/core.js") }}
    
    {{ if site.Params.cookies.enable }}
        {{ $js = $js | append (resources.Get "js/v2/modules/cookie-consent.js") }}
    {{ end }}
    
    {{ $bundle := $js | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $bundle.RelPermalink }}" defer></script>
{{ else }}
    {{/* Legacy JavaScript */}}
    {{ with (resources.Get "js/main.js") | resources.Minify }}
      <script src="{{ .RelPermalink }}" defer></script>
    {{ end }}
{{ end }}

{{ if templates.Exists ("partials/script/custom.html") }}
    {{ partial "partials/script/custom.html" . }}
{{ end }}

{{ if isset site.Params "customjs" }}
    {{ range site.Params.customjs }}
        {{ $customjs := resources.Get . | fingerprint }}
      <script src="{{ $customjs.RelPermalink }}" defer></script>
    {{ end }}
{{ end }}

{{ $crispJs := ((resources.Get "js/custom-crisp-form.js") | resources.ExecuteAsTemplate "js/custom-crisp-form.js" .) | resources.Minify }}
{{ with $crispJs }}
    {{ $crispJs.Publish }}
{{ end }}