{{ with site.Params.google_fonts }}
    {{ if .enable }}
      <link rel="dns-prefetch" href="https://fonts.gstatic.com">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
        {{ range .fonts }}
          <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family={{ . }}&display=swap">
        {{ end }}
    {{ end }}
{{ end }}

<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha384-h/hnnw1Bi4nbpD6kE7wYmmsMbpzfIafUkAUthzMwEQvmlW2tSGlEVJXUVVgZPQoX" crossorigin="anonymous">

{{ $options := dict
        "targetPath" "css/style.css"
        "transpiler" "dartsass"
        "vars" site.Params.style
}}
{{ with (resources.Get "scss/style.scss" | toCSS $options) | resources.Minify }}
  <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}">
{{ end }}

{{ $swiperCss := ((resources.Get "css/swiper.css") | resources.ExecuteAsTemplate "css/swiper.css" . | toCSS) | resources.Minify }}
{{ with $swiperCss }}
  <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}">
{{ end }}

{{ with site.Params.customcss }}
    {{ range . }}
        {{ $customstyle := resources.Get . | fingerprint }}
      <link rel="stylesheet" type="text/css" href="{{ $customstyle.RelPermalink }}">
    {{ end }}
{{ end }}

{{ $crispCss := ((resources.Get "css/custom-crisp-form.css") | resources.ExecuteAsTemplate "css/custom-crisp-form.css" . | toCSS) | resources.Minify }}
{{ with $crispCss }}
  {{ $crispCss.Publish }}
{{ end }}