.hero-2 {
  position: relative;
  background-image: var(--hero-bg);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 120px;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary;
    opacity: 0.8;
  }

  * {
    z-index: 1;
  }

  @media screen and (max-width: 768px) {
    background-image: none;
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
