.hero-1 {
  padding-top: 12rem;
  padding-bottom: 6rem;

  img {
    width: 480px;
    max-height: 512px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}