.hero-1 {
  padding-top: 140px;
  padding-bottom: 60px;

  img {
    width: 480px;
    max-height: 512px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 180px;
    padding-bottom: 120px;
  }
}