footer {
  .logo {
    img {
      height: auto;
      width: 100%;
      max-width: 300px;
    }
  }

  .footer-item {
    @include media-breakpoint-up(lg) {
      max-width: 50%;
    }
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
    }
  }

  .social-link {
    width: 40px;
    height: 40px;
    color: $primary;
    background: $light;
    transition: background 0.3s;

    &:hover {
      background: $secondary;
    }
  }

  .link-muted {
    color: $text-muted;

    &:hover {
      color: $dark;
    }
  }
}