header {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    .nav-link {
      font-weight: 500;
    }

    .navbar-brand {
      img {
        max-width: 192px;
        max-height: 48px;
      }
    }
  }

  @media (min-width: 576px) {
    .dropdown:hover > .dropdown-menu {
      display: block;
      margin-bottom: 0;
    }
  }
}