{{ $context := .Get "context" }}
{{ $btnColor := .Get "btn-color" }}
{{ $button := "" }}
{{ with (index $.Page.Params $context "Button") }}
    {{ $button = dict
      "Button" .
      "Link" (index $.Page.Params $context "Button" "Link")
      "Label" (index $.Page.Params $context "Button" "Label")
      "Color" $btnColor
      "Size" "md"
    }}
{{ end }}
{{ $params := dict
        "Context" .
        "Id" (.Get "id")
        "Classes" (.Get "class")
        "Title" (index $.Page.Params (.Get "context") "Title")
        "Content" (index $.Page.Params (.Get "context") "Content")
        "Image" (index $.Page.Params (.Get "context") "Image")
        "BgColor" (.Get "bg-color")
        "Dark" (.Get "dark")
        "Reverse" (.Get "reverse")
        "Button" $button
        "Inner" .Inner
}}
{{ partial "partials/components/cta/cta-1.html" $params }}