{{ $button := dict "Button" . "Link" (index $.Page.Params (.Get "context") "Button" "Link") "Label" (index $.Page.Params (.Get "context") "Button" "Label") "Color" (.Get "btn-color") "Size" "btn-lg" }}
{{ $params := dict "Context" . "Id" (.Get "id") "Classes" (.Get "class") "Title" (index $.Page.Params (.Get "context") "Title") "Subtitle" (index $.Page.Params (.Get "context") "Subtitle") "Image" (index $.Page.Params (.Get "context") "Image") "Button" $button }}
{{ partial "partials/components/hero/hero-2.html" $params }}
