{{ $image := resources.Get .Image }}
{{ $size := printf "%dx%d" $image.Width $image.Height }}
{{ $image := $image.Resize (printf "%s webp q80" $size) }}

{{ $showOverlay := true }}
{{ if eq .Overlay "false" }}
    {{ $showOverlay = false }}
{{ end }}

<section id="{{ .Id }}" class="hero-2 text-bg-primary {{ .Classes }}" style="--hero-bg: url('{{ $image.RelPermalink }}'); --overlay-opacity: {{ if $showOverlay }}0.8{{ else }}0{{ end }}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h1 class="display-4 fw-semibold mb-4">{{ .Title | safeHTML }}</h1>
        <p class="mb-4">{{ .Subtitle | safeHTML }}</p>
          {{ with .Button }}
            <a href="{{ .Link }}" title="{{ .Label }}" class="btn btn-{{ .Color }} btn-{{ .Size }}">{{ .Label }}</a>
          {{ end }}
      </div>
    </div>
  </div>
</section>
