{{ $isDark := false }}
{{ if eq .Dark "true" }}
    {{ $isDark = true }}
{{ end }}
<section id="{{ .Id }}" class="hero-1 bg-{{ .BgColor }} {{ .Classes }}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h1 class="display-4 fw-semibold mb-4 {{ if $isDark }}text-white{{ else }}text-primary{{ end }}">
            {{ .Title | safeHTML }}
        </h1>
        <p class="mb-4 {{ if $isDark }}text-light{{ else }}text-muted{{ end }}">
            {{ .Subtitle | safeHTML }}
        </p>
          {{ with .Button }}
            <a href="{{ .Link }}" title="{{ .Label }}" class="btn btn-{{ .Color }} {{ .Size }}">{{ .Label }}</a>
          {{ end }}
      </div>
      <div class="col-12 col-lg-6 d-none d-lg-block text-center">
          {{ $image := resources.Get .Image }}
          {{ $size := printf "%dx%d" $image.Width $image.Height }}
          {{ $image := $image.Resize (printf "%s webp q80" $size) }}
          {{ partial "image" (dict "Src" ($image | relLangURL) "alt" .Title "Size" $size "Command" "Fit" "Class" "mw-100 object-fit-contain") }}
      </div>
    </div>
  </div>
</section>
