{{ $image := "" }}

{{ with .Image }}
    {{ $image = resources.Get . }}
    {{ $size := printf "%dx%d" $image.Width $image.Height }}
    {{ $image = $image.Resize (printf "%s webp q80" $size) }}
{{ end }}

{{ $showOverlay := true }}
{{ if eq .Overlay "false" }}
    {{ $showOverlay = false }}
{{ end }}

{{ $textFullWidth := false }}
{{ if eq .TextFullWidth "true" }}
    {{ $textFullWidth = true }}
{{ end }}

<section id="{{ .Id }}" class="hero-2 text-bg-primary {{ .Classes }}" style="{{ if $image }} --hero-bg: url('{{ $image.RelPermalink }}'); {{ end }} --overlay-opacity: {{ if $showOverlay }}0.8{{ else }}0{{ end }}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 {{ if eq $textFullWidth false }}col-md-8 col-lg-6{{ end }}">
        <h1 class="display-4 fw-semibold mb-4">{{ .Title | safeHTML }}</h1>
        <p class="mb-4">{{ .Subtitle | safeHTML }}</p>
          {{ with .Button }}
            <a href="{{ .Link }}" title="{{ .Label }}" class="btn btn-{{ .Color }} btn-{{ .Size }}">{{ .Label }}</a>
          {{ end }}
      </div>
    </div>
  </div>
</section>
